.page-bg {
  height: 100vh; /* 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;

}


.input{
  padding:10px
}

.text-gray-700 {
  font-size: 10px; /* Ajusta el tamaño según tus necesidades */
}

